{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Management System</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    
</head>

    
 <body> 
   
    <header>
        <div class="header">
    <h1>SCHOOL MANAGEMENT SYSTEM</h1>
        </div>
    </header>
    <br><br><br>
    <br><br><br>
    <div class="div_container">
    <div class="div_box"  >
    <table>
        <form action="" method="post">
        <tr>
            <th>Login ID : <br><br></th>
            <th><input type="text" name="" id="" placeholder=""><br><br></th>
        </tr>
        
        <tr>
            <th>Password : <br><br></th>
            <th><input type="password" name="" id="" placeholder=""> <br><br></th>
        </tr>
        
        <tr >
            <th></th>
            <th>
                <button type="submit" style="background-color: black; color: white;">Login</button>
            </th>
        </tr>
    </form>
    </table>
    </div> 
    </div>

</body>
</html>