{% extends 'master.html' %}
{% block content %}
{% load static %}

<head>

</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Teacher List</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example" class="table table-hover  " style="min-width: 845px; color: black;">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Teacher Name</th>
                                    <th>Phone No</th>
                                    <th>Salary</th>
                                    <th>View Class</th>
                                    <th>View Certificate</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="table-light">
                                {% for t in teacher %}
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <tr>
                                        <td>{{ t.first_name }}</td>
                                        <td>{{ t.contact_number }}</td>
                                        <td>{{ t.salary }}</td>


                                        <td><a class="btn btn-warning btn-xs"
                                                href="{% url 'school_admin:view_class' t.id %} "><span
                                                    class="glyphicon glyphicon-eye-open">view</span></a></td>
                                        <td><a class="btn btn-success btn-xs"
                                                href="{% url 'school_admin:view_certificate' t.id %}"><span
                                                    class="glyphicon glyphicon-eye-open">view</span></a></td>

                                        <td><span><a href="{% url 'school_admin:teacher_edit' %}" class="mr-4"
                                                    data-toggle="tooltip" data-placement="top" title="Edit"><i
                                                        class="fa fa-pencil color-muted"
                                                        style="color: rgb(0, 0, 0);"></i> </a>
                                                    
                                                <button class="btn btn-rounded btn-outline-primary">
                                                    <input type="hidden"  name="close_btn" value="{{t.id}}" id="">
                                                <a href="" data-toggle="tooltip" data-placement="top" title="Close"><i
                                                        style="color: red;"
                                                        class="fa fa-close color-danger "></i></a></button></span>

                                                    

                                           
                                        </td>
                                    </tr>


                                </form>
                                {% endfor %}

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--**********************************
        Scripts
    ***********************************-->
<!-- Required vendors -->
<script src="{% static './vendor/global/global.min.js' %}"></script>
<script src="{% static './js/quixnav-init.js' %}"></script>
<script src="{% static './js/custom.min.js' %}"></script>



<!-- Datatable -->
<script src="{% static './js/quixnav-init.js' %}"></script>
<script src="{% static './js/quixnav-init.js' %}"></script>
<script src="{% static './vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static './js/quixnav-init.js' %}"></script>
<script src="{% static './js/plugins-init/datatables.init.js' %}"></script>

<!-- Sweet Alert -->
<script src="{% static './vendor/sweetalert2/dist/sweetalert2.min.js' %}"></script>
<script src="{% static './js/plugins-init/sweetalert.init.js' %}"></script>
{% endblock %}