{% extends 'master.html' %}
{% block content %}
{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Teachers</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">

                        <form action="" method="POST">
                            {% csrf_token %}
                            <table id="example" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>

                                        <th>Qualification</th>
                                        <th>Certificate</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>

                                        <td>{{ view_certificate.teacher_class }}</td>
                                        <td>{{ view_certificate.course }}</td>
                                        <td>
                                            <span><a href="" class="mr-4" data-toggle="tooltip" data-placement="top"
                                                    title="Edit"><i class="fa fa-pencil color-muted"
                                                        style="color: rgb(0, 0, 0);"></i> </a>

                                                <button class="btn btn-rounded btn-outline-primary">
                                                    <input type="hidden" name="view_certificate_btn" value="{{view_certificate.id}}"
                                                        id="">
                                                    <a href="" data-toggle="tooltip" data-placement="top"
                                                        title="Close"><i style="color: red;"
                                                            class="fa fa-close color-danger "></i></a></button></span>
                                        </td>
                                    </tr>


                                </tbody>

                            </table>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}